* {
    --background: #d0d0d0;
    --accents: #1c1c1c;
    --disguised-accent: #4c4c4c;
}

@media(prefers-color-scheme: dark){
    *{
        --background: #1c1c1c;
        --accents: #b3b3b3;
        --disguised-accent: #838383;
    }
}

@font-face {
    font-family: "worldOfWaterFont";
    src:url("../fonts/WORLD_OF_WATER.OTF");
    font-family: "glacialIndifferenceFont";
    src:url("../fonts/GLACIAL-INDIFFERENCE.REGULAR.OTF")
}

body{
    background-color: var(--background);
    width: 500px;
    font-family: "glacialIndifferenceFont";
    color: var(--accents);
}

.hidden{
    display: none;
}

#query{
    outline: none;
    border:none;
    border-radius: 0%;
    height: 25px;
    width: 80%;
}

.accent{
    font-size: small;
    color: var(--disguised-accent);
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: none;
}

a.accent:hover{
    font-weight: bold;
}

button{
    outline: none;
    border: none;
    display: inline-block;
    text-decoration: none;
    background-color: var(--accents);
    box-shadow: none;
    border-radius: 0%;
    height: 25px;
    color: var(--background)
}

#page-title{
    font-size: large;
    font-weight: bold;
    margin: 15px 0px;
}